<div class="container">
    <div class="row">
        <section class="main-header">
            <p class="flash"><%= notice %><%= alert %></p>
        </section>

        <div class="col-md-4 col-md-offset-4 col-sm-10">
                <h1>Listing products</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>

                    <tbody class="product-index">
                        <%= render "index2" %>
                    </tbody>
                </table>

                <br>
                <%= link_to 'New Product', new_picture_path, remote: true %>
                <div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
            </div>
        </div>
    </div>
